:root {
    --main-text-color: #212121;
    --accent-text-color: #2196F3;
    --secondary-text-color: #757575;
    --icon-text-color: #AFB1B8;
    --header-bcg-color: #2F303A;
    --header-text-color: #FFFFFF;
    --button-main-color: #F5F4FA;
    --button-secondary-color: #2196F3;
    --main-text-size: 14px;
    --secondary-headings-size: 36px;
    --main-text-family: 'Roboto', sans-serif;
    --secondary-title-weight: 700;
    --main-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.02em;
    --transform-time: 250ms;
    --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-size: var(--main-text-size);
    font-family: var(--main-text-family);
    color: var(--main-text-color);
}

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header, .header-nav {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .navigation-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

header {
    border-bottom: 1px solid #ECECEC;
}

.header-block {
    display: flex;
    
}

.header-contacts {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    transition: color var(--transform-time) var(--transform-function);
}

.header-envelope {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.header-smartphone {
    height: 16px;
    width: 10px;
    margin-right: 10px;
    fill: currentColor;
    position: relative;
    top: 3px;
}

.header-contacts:hover, .header-contacts:hover a, .header-contacts:focus, .header-contacts a:focus {
    color: var(--accent-text-color);
}

.logo {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: var(--secondary-title-weight);
    line-height: 1.17;
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: 93px;
}

.logo span {
    color: var(--accent-text-color);
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation-item {
    line-height: 1.17;
    font-weight: 500;
    color: var(--main-text-color);
    text-decoration: none;
    transition: color var(--transform-time) var(--transform-function);
    position: relative;
}

.navigation-item.current::after {
    content: "";
    height: 4px;
    background-color: var(--accent-text-color);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.navigation li {
    margin-right: 50px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation-item:hover, .navigation-item:focus {
    color: var(--accent-text-color);
}

.navigation-contact {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: var(--secondary-letter-spacing);
    transition: color var(--transform-time) var(--transform-function);
}

.navigation-contact:first-child {
    margin-right: 50px;
}

button {
    cursor: pointer;
    border: none;
}

.solutions {
    color: var(--header-text-color);
    background-color: var(--header-bcg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.solutions .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solutions-icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.solutions-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    margin-bottom: 30px;
}

.solutions-button {
    font-size: 16px;
    font-weight: var(--secondary-title-weight);
    line-height: 1.875;
    color: var(--header-text-color);
    background-color: var(--button-secondary-color);
    padding: 10px 32px 10px 32px;
    border: none;
}

.solutions-button:focus {
    border: none;
}

.characteristics-list {
    list-style: none;
    display: flex;
}

.characteristics .title {
    font-weight: var(--secondary-title-weight);
    font-size: var(--main-text-size);
    letter-spacing: var(--main-letter-spacing);
    line-height: 1.172;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.characteristics .text {
    line-height: 1.714;
    letter-spacing: var(--main-letter-spacing);
    color: var(--secondary-text-color);
}

.portfolio.section {
    padding-top: 0;
}

.detail {
    width: 270px;
    margin-right: 30px;
}

.detail:last-child {
    margin-right: 0;
}

.section-title {
    font-size: 36px;
    font-weight: var(--secondary-title-weight);
    line-height: 1.172;
    text-align: center;
    margin-bottom: 50px;
}

.projects {
    list-style: none;
    display: flex;
}

.projects-image {
    margin-right: 30px;
    position: relative;
}

.projects-image:last-child {
    margin-right: 0;
}

.projects-image .text {
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: var(--main-letter-spacing);
    color: var(--header-text-color);
    line-height: 1.143;
    font-weight: bold;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
}

.team {
    background-color: var(--button-main-color);
}

.team-members>li {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.team-link {
    color: var(--main-text-color);
    text-decoration: none;
}

.team-members {
    font-size: 16px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.team .title {
    font-weight: 500;
    line-height: 1.172;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.team-social-list {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;
}

.team-social-item:not(:last-child) {
    margin-right: 10px;
}

.team-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--icon-text-color);
    transition: color var(--transform-time) var(--transform-function), background-color var(--transform-time) var(--transform-function);
}

.team-social-icon {
    fill: currentColor;
}

.team-social-link:hover, .team-social-link:focus {
    background-color: var(--accent-text-color);
    color: var(--header-text-color);
}


.team-details {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.team p {
    color: var(--secondary-text-color);
    text-align: center;
}

.clients-list {
    display: flex;
}

.clients-title {
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: var(--main-letter-spacing);
    font-weight: var(--secondary-title-weight);
    text-align: center;
    margin-bottom: 50px;
}

.clients-item {
    width: 170px;
    height: 92px;
    display: block;
    border: 1px solid #AFB1B8;
    border-radius: 3px;
    color: #afb1b8;
    transition: color var(--transform-time) var(--transform-function), border var(--transform-time) var(--transform-function);
}

.clients-item-icon.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-item-icon {
    fill: currentColor;
}
.clients-item:hover, .clients-item:focus {
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
}

.clients-list li:not(:last-child) {
    margin-right: 30px;
}

.footer {
    background-color: var(--header-bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer a {
    color: var(--header-text-color);
}

.footer-address {
    list-style: none;
    margin-top: 20px;
}

.footer-address li {
    margin-bottom: 9px;
}

.footer-address .office {
    opacity: 1;
}

.footer-item {
    line-height: 1.714;
    font-style: normal;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity var(--transform-time) var(--transform-function);
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-item:hover, .footer-item:focus {
    opacity: 1;
}

.footer-block {
    display: flex;
    align-items: baseline;
}

.footer-block .right {
    margin-left: 70px;
}

.footer-title {
    font-weight: var(--secondary-title-weight);
    line-height: 1.18;
    letter-spacing: var(--main-letter-spacing);
    color: var(--header-text-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transform-time) var(--transform-function);
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: var(--accent-text-color);
}

.footer-social-icon {
    fill: #ffffff;
}

.footer-input {
    width: 356px;
    background-color: transparent;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 10px;
}

.right.email-input {
    margin-left: 93px;
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: var(--main-letter-spacing);
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
    border: 1px solid red;
}

.input-form {
    display: flex;
}

.input-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: #2196F3;
    padding: 10px 62px 10px 29px;
}

.input-block {
    width: 200px;
    position: relative;
}

.input-block__icon {
    fill: #ffffff;
    position: absolute;
    top: 13px;
    right: 13px;
}

.portfolio-buttons {
    list-style: none;
    display: flex;
    width: 611px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.portfolio-buttons .item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.857;
    background-color: var(--button-main-color);
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--transform-time) var(--transform-function), background-color var(--transform-time) var(--transform-function);
}

.portfolio-buttons li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-buttons .item:hover, .portfolio-buttons .item:focus {
    color: var(--header-text-color);
    background-color: var(--button-secondary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-list>li:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list .title {
    font-size: 18px;
    line-height: 2;
    font-weight: var(--secondary-title-weight);
    color: var(--main-text-color);
}

.portfolio-list .text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-text-color);
}

.portfolio-list a {
    text-decoration: none;
}

.portfolio-list li {
    margin-bottom: 30px;
}

.portfolio-list .bottom {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-list li:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

.portfolio-list-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list li:hover .portfolio-list-text {
    transform: translateY(0);
} 

.portfolio-list-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: var(--main-letter-spacing);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--transform-time) var(--transform-function);
    overflow: auto;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.2);
    transition: opacity var(--transform-time) var(--transform-function), visibility var(--transform-time) var(--transform-function);
}

.backdrop.is-hidden .modal {
    transform: scale(1.5);
}

.modal {
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform var(--transform-time) var(--transform-function);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal {
    padding: 40px;
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--second-title-color);
    text-align: center;
    margin-bottom: 15px;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    transition: border-color var(--transform-time) var(--transform-function);
}

.modal-input:focus + .input-icon {
    fill: var(--accent-text-color);
}

.modal-input:focus,
.modal-text:focus {
    border-color: var(--accent-text-color);
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--transform-time) var(--transform-function);
}

.modal-text {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    resize: none;
    background-color: transparent;
    transition: border-color var(--transform-time) var(--transform-function);
}

.modal-text::placeholder {
    letter-spacing: 0.01em;
    line-height: 1.167;
    color: rgba(117, 117, 117, 0.5);
}

.modal-input-text {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;
    color: var(--secondary-text-color);
}

.modal-btn {
    margin: 0 auto;
    display: block;
    padding: 10px 56px;
    letter-spacing: 0.06em;
    line-height: 1.875;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    color: var(--button-main-color);
    text-align: center;
    background-color: var(--button-secondary-color);
    margin-top: 30px;
}


.modal-check-text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: var(--main-letter-spacing);
    color: var(--secondary-text-color);
    display: flex;
    position: relative;
    align-items: center;
}

.modal-check-link {
    color: var(--accent-text-color);
}

.modal-check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    margin-right: 5px;
    border-radius: 2px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.modal-form-field.checkbox {
    margin-top: 20px;
}

.icon-check {
    fill: transparent;
}

.modal-check:checked + .modal-check-text span {
    background-color: var(--accent-text-color);
    border: none;
}

.modal-check:checked + .modal-check-text .icon-check {
    fill: var(--button-main-color);
}


